@import '../utils/index';

.filters-section-wrapper {
    @include flex-row-centered;
    justify-content: space-around;
    max-width: 1000px;

    .sort-section{
        @include flex-row-centered;
        position: relative;
        gap: 5px;

        .sort-dropdown-section{

            width: 100px;

            &:hover{
                .sort-dropdown{
                    display: block
                }
            }

            .sort-input{
                @include flex-row-centered;
                justify-content: space-evenly;
                width: 100%;
                height: 100%;
                padding:0;
                border:none;
                color: $dark-button-grey;
            }

            .sort-dropdown{
                width: inherit;
                padding:0;
                position: absolute;
                z-index: 1;
                top:65%;
                display: none;
                background-color: white;
                box-shadow: 0 2px 2px $dark-button-grey;

                &:hover{
                   display:block;
                }

                &__list{
                    padding: 0px 20px;
                    &-item{
                        &:hover{
                            cursor: pointer;
                            background-color: $highlight-blue;
                        }
                    }
                }
            }
        }
    }
}